In [1]:
import pickle


with open('ECPred_data.pkl', 'rb') as f:
    data = pickle.load(f)

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data

,accession,sequence,ec,traintest,negative_for,mainclass_set,sprot_version,len
0,Q7VRM4,MQAKILRIATRKSPLAICQACYVCNKLKHYHPHIQTELIPIITTGD...,[2.5.1.61],0,NaN,Transferases,2017_03,1
1,A4XK06,MKKLRIGARDSKLSRIQVDIVARKIKQTLGIECEFVPIKTKGDIDK...,[2.5.1.61],0,NaN,Transferases,2017_03,1
2,Q8KCJ4,MKKELIIGTRSSPLALWQAEFTKAELSRHFPELNITLKLVKTTGDV...,[2.5.1.61],0,NaN,Transferases,2017_03,1
3,Q9VR91,MFNRQASGGAGSSGQGAGSSQTASAAPVSAGVGVGGGGGASGAAAG...,[2.3.2.26],0,NaN,Transferases,2017_03,1
4,O95714,MPSESFCLAAQARLDSKWLKTDIQLAFTRDGLCGLWNEMVKDGEIV...,[2.3.2.26],0,NaN,Transferases,2017_03,1
...,...,...,...,...,...,...,...,...
110217,Q9SR96,MVRTRLAISVVLVSTLLLLNVKAKSVDPYKVLGVSKDAKQREIQKA...,[],1,Oxidoreductases,Oxidoreductases,2017_03,0
110218,Q7YR37,MPKAPKQQPPEPEWIGDGESTSPSDKVVKKGKKDKKIKKTFFEELA...,[],1,Oxidoreductases,Oxidoreductases,2017_03,0
110219,Q9FM10,MTDPHTARTIVGIVGNVISFGLFCAPIPTMVKIWKMKSVSEFKPDP...,[],1,Oxidoreductases,Oxidoreductases,2017_03,0
110220,P42165,MAVPASPQHPRGYGILLLTLLLKALATTASACNHLRPQDATFSHDS...,[],1,Oxidoreductases,Oxidoreductases,2017_03,0
110221,Q9NR80,MPWEEPAGEKPSCSHSQKAFHMEPAQKPCFTTDMVTWALLCISAET...,[],1,Oxidoreductases,Oxidoreductases,2017_03,0

In [9]:
data['negative_for'].unique()

array([nan, 'Hydrolases', 'Lyases', 'Transferases', 'Isomerases',
       'Ligases', 'Oxidoreductases'], dtype=object)

In [7]:
with open('DEEPre_data.pkl', 'rb') as f:
    data2 = pickle.load(f)

In [8]:
data2

,accesion,ec,sequence,traintest
0,P27582,1.1.1.100,ATAQEQPEGEAPDKVESPVVXXXEAXIVLVNYAREADVDAMMKDAV...,NaN
1,Q93X67,1.1.1.100,MATTSIAGPRLTSLKTAAGKLGYREICHVRQWAPVHSPMPHFGMLR...,NaN
2,Q9RPT1,1.1.1.100,MHPYFSLAGRIALVTGGSRGIGQMIAQGLLEAGARVFICARDAEAC...,NaN
3,P35731,1.1.1.100,MHYLPVAIVTGATRGIGKAICQKLFQKGLSCIILGSTKESIERTAI...,NaN
4,Q89AG9,1.1.1.100,MKTTKKIAVITGANRGLGKGIAEELSNTNNITVIGTSTSQKGCKII...,NaN
...,...,...,...,...
44331,P07552,NaN,MLTRFLGPRYRQLARNWVPTASLWGAVGAVGLVWATDWRLILDWVP...,NaN
44332,C5DGV3,NaN,MSLISAAADVNDASSTTSAGSVRSSAVYRKDGKPLSQEALYRAQQK...,NaN
44333,Q9H322,NaN,MSPKPRASGPPAKATEAGKRKSSSQPSPSDPKKKTTKVAKKGKAVR...,NaN
44334,Q54318,NaN,MPIKKLISKIVKKKDSDTEKNNYINLSALTEAEREIITNTIELKSK...,NaN
44335,Q54NF8,NaN,MVLITRYLPSVTDNNQPALEGQSKDQIVDTVITSTTVGIINQLTML...,NaN